Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 105
IndentAccessModifiers: false
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
