Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 110
IndentAccessModifiers: false
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
# BreakBeforeBinaryOperators: All
